install: generic

addons:
  mariadb: '10.0'

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS testdb;'
  - mysql testdb < sql/users.sql
  - mysql --database=testdb -e 'select * from users;'
