language: php

php:
  - '7.0'
  - '7.1'

addons:
  mariadb: '10.0'

before_script: composer require "dbdiff/dbdiff:@dev"

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS sourcedb;'
  - mysql -e 'CREATE DATABASE IF NOT EXISTS destinationdb;'
  - mysql sourcedb < sql/users.sql

script: php vendor/dbdiff/dbdiff/dbdiff server1.sourcedb:server2.destinationdb
script: cat /home/travis/build/gordonmurray/test-database-ci/migration.sql
